option_settings:
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /
    HealthCheckTimeout: 5
    HealthCheckInterval: 30
    HealthyThresholdCount: 3
    UnhealthyThresholdCount: 5
    DeregistrationDelay: 20
    MatcherHTTPCode: 200,301,302
    
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
    
  aws:elb:policies:
    ConnectionDrainingEnabled: true
    ConnectionDrainingTimeout: 20 